* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a  {
  text-decoration: none; 
  color: #000000;
}
.wraper {
  /* display: inline-block; */
  /* max-width: 960px; */
  text-align: center;
  /* margin: auto; */
}
.card {
  margin: 15px;
  /* .outer-box.top > div { */
  vertical-align: top;


}
article {
  display: inline-block;
  padding: 5px;
  border: 1px solid #626262;
  height: 500px;
  width: 350px;

  
}
.card img {
  width: 100px;
  border-radius: 100%;
  margin: 40px;
}

.parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
}

.bg1 {
  background-image: url(../img/samantha-gades-yGPbbuBDT9w-unsplash.jpg);
}