*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.viewport {
  width: 1200px;
  margin: auto;
}
  /* ШРИФТЫ И НАЧЕРТАНИЯ */
@font-face {
  font-family: WisdomScript;
  src: url('../fonts/WisdomScript.otf'); 
}
@font-face {
  font-family: MontserratRegular; 
  src: url('../fonts/MontserratRegular.ttf');
}
@font-face {
  font-family: MontserratBold; 
  src: url('../fonts/MontserratBold.ttf');
}
@font-face {
  font-family: DroidSerifItalic; 
  src: url('../fonts/DroidSerifItalic.ttf');
}
.text-content p {
font-family: 'Roboto Slab', serif;
}
h1 {
  font-family: 'WisdomScript';
}
.menu {
  font-family: 'MontserratRegular';
  text-transform: uppercase;
}
a {
  text-decoration: none;
}

h2 {
  font-family: 'MontserratBold';
  text-transform: uppercase;
}
.description-up, .description-down {
  font-family: 'DroidSerifItalic';
  text-transform:none;
}
h3 {
  font-family: 'MontserratBold';
}
/* ПИКТОГРАМКИ */
.frame1 {
  border: 3px solid #fed136;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background: url(../img/Icon-Basket.png) no-repeat;
  background-position: 50% 50%;  
}  
.frame2 {
  border: 3px solid #fed136;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background: url(../img/Icon-Laptop.png) no-repeat;
  background-position: 50% 50%;  
}  
.frame3 {
  border: 3px solid #fed136;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  background: url(../img/Icon-Locked.png) no-repeat;
  background-position: 50% 50%;  
}  



/* ЦВЕТА И РАЗМЕРЫ ШРИФТОВ */
/* ПОЗИЦИОНИРОВАНИЕ ШАПКИ */
