*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.viewport {
    width: 1200px;
    margin: auto;
  }
  /* ШРИФТЫ И НАЧЕРТАНИЯ */
@font-face {
    font-family: Wisdom-Script-AJ; /* Гарнитура шрифта */
    src: url('../fonts/Wisdom-Script-AJ.otf') /* Путь к файлу со шрифтом */
   }
   h1 {
    font-family: Wisdom-Script-AJ, 'Wisdom-Script-AJ', ;
   }
  /* ЦВЕТА И РАЗМЕРЫ ШРИФТОВ */
/* ПОЗИЦИОНИРОВАНИЕ ШАПКИ */
