*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header, .section-up{
  width: 940px;
  margin: auto;
}
  /* ШРИФТЫ И НАЧЕРТАНИЯ */
@font-face {
  font-family: WisdomScript;
  src: url('../fonts/WisdomScript.otf'); 
}
@font-face {
  font-family: MontserratRegular; 
  src: url('../fonts/MontserratRegular.ttf');
}
@font-face {
  font-family: MontserratBold; 
  src: url('../fonts/MontserratBold.ttf');
}
@font-face {
  font-family: DroidSerifItalic; 
  src: url('../fonts/DroidSerifItalic.ttf');
}
h1 a{
  font-family: 'WisdomScript';
  text-decoration: none;
  color: #fed136;
  font-size: 26px;
  font-weight: 300;

}
.menu a{
  font-family: 'MontserratRegular';
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
  font-size: 14px;
}
li {
  list-style: none;
}
.menu a:hover {
  color: #fed136;
}
.description-up, .description-down {
  font-family: 'DroidSerifItalic';
  text-transform:none;
}
.title-up h2 {
  font-family: 'MontserratBold';
  text-transform: uppercase;
  color: #222222;
  font-size: 40px;
}
.description-up {
  color: #777777;
  font-size: 16px;
}
.title-down h2 {
  font-family: 'MontserratBold';
  text-transform: uppercase;
  color: white;
  font-size: 40px;
}
.description-down {
  color: #777777;
  font-size: 16px;
}
h3 {
  font-family: 'MontserratBold';
  color: #222222;
  font-size: 18px;
}

/* ПИКТОГРАМКИ */
.frame1 {
  border: 3px solid #fed136;
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: url(../img/Icon-Basket.png) no-repeat;
  background-position: 50% 50%; 
  margin: auto; 
}  
.frame2 {
  border: 3px solid #fed136;
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: url(../img/Icon-Laptop.png) no-repeat;
  background-position: 50% 50%;  
  margin: auto;
}  
.frame3 {
  border: 3px solid #fed136;
  width: 74px;
  height: 74px;
  border-radius: 100%;
  background: url(../img/Icon-Locked.png) no-repeat;
  background-position: 50% 50%;  
  margin: auto;
}  








/* ПОЗИЦИОНИРОВАНИЕ */
header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 70px;
}
.navigation-menu {
  width: 480px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}





/* ВСЯ ЕБАТНЯ */


.line-up{
  display: flex;
  min-height: 572px;
  flex-direction: column;
}

.title-up, .title-down {
  display: flex;
  justify-content: flex-end;
  min-height: 210px;
  flex-direction: column;
  align-items: center;
}
h2 {
  min-height: 55px;
}
.description-up {
  min-height: 54px;
}


.section-up{
  display: flex;
  justify-content: space-between;
}
.article {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 315px;
}
.article-title {
  min-height: 33px
}
.text-content {
  font-family: 'Roboto Slab', serif;
  line-height: 21px;
  /* font-weight: 100; */

  color: #777777;
  font-size: 14px;
  width: 288px;
  min-height: 169px
}
















/* НИЖНЯЯ ЛИНИЯ */
.line-down {
  min-height: 577px;
  background-color: #222222;
  background-image: url(../img/Map-Image.png) ;
  background-repeat: no-repeat;
  background-position: 100% 100% ;
  vertical-align: bottom;
}