*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-topline {
  background-color: #1abc9c;
}
.top-slider__content {
  background-image: url(../img/hw-mine.jpg);
  width: 100%;
  background-repeat: no-repeat;
}