*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.viewport {
  width: 1200px;
  margin: auto;
}
/* ШРИФТЫ И НАЧЕРТАНИЯ */
li, .title-span, h3, .button-subscribe {
  text-transform: uppercase;
}
h1, li, .title-span, h3, .text-footer, .button-subscribe {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}
h1, .title-span, .button-subscribe {font-weight: 700;}
li, h3, .text-footer {font-weight: 400;}
.text-content p, .description, .text-article p, .input-text {
  font-family: 'Roboto', sans-serif;
}
.text-article p, .input-text {
  font-weight: 300;
  font-style: italic;
}
li {
  list-style: none;
}
/* ЦВЕТА И РАЗМЕРЫ ШРИФТОВ */
h1 a {
  text-decoration: none;
  color: #95e1d3;
  font-size: 30px;
}
/* СЛЕПОЙ ОТСТУП */
h1 a:after {
  content: '';
  height: 3px;
  display: block;
  margin-top: 5px;
}

.navigation-menu a {
  text-decoration: none;
  color: #95e1d3;
  font-size: 14px;
}
.navigation-menu a:hover{
  color: #f38181;
}
.navigation-menu a:hover:after {
  content: '';
  width: auto;
  height: 3px;
  background: #f38181;
  display: block;
  margin-top: 8px;
}
/* СЛЕПОЕ ПОДЦЕРКИВАНИЕ ЧТОБЫ НЕ ПРЫГАЛО МЕНЮ */
.navigation-menu a:after {
  content: '';
  height: 3px;
  display: block;
  margin-top: 8px;
}
h2, h3, .text-footer {
  color: #333333;
}
h2 {
  font-size: 24px;
}
.title-span {
  font-size: 30px;
}

h3, .text-footer {
  font-size: 14px;
}
.link-footer a {
  text-decoration: none;
  color: #f38181;
}
p {
  color: #999999;
  font-size: 15px;
}
.input-text {
color: #cccccc;
font-size: 15px;
}
.button-subscribe {
  display: block;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 14px;
  background: #95e1d3;
}
/* ПОЗИЦИОНИРОВАНИЕ ШАПКИ */
header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 65px;

}
.navigation-menu {
  width: 492px;
  display: flex;
  justify-content: space-between;
}
h2:after {
  content: '';
  width: 60px;
  height: 3px;
  background: #f38181;
  margin-top: 42px;
  
}  
h2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 315px;
  flex-direction: column;
}
.title-up {
  display: flex;
  width: 1200px;
  justify-content: center;
  min-height: 227px;
}





.content-up{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 380px;
  align-content:	space-around;

}
.section {
  align-items: flex-start;
  justify-content: space-evenly;

  display: flex;
  width: 380px;
}
.text-content {
  width: 300px;
}
.section img {
  display: flex;
  object-fit: none;

}








.title-down {
  display: flex;
  width: 1200px;
  justify-content: center;
  min-height: 130px;
}
.line-title-down {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}


.description{
  text-align: center;
  width: 980px;
margin: auto;
}




.content-down{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 705px;

}
.article {
  display: flex;
  flex-direction: column;
  min-height: 540px;
  justify-content: space-between;
  width: 380px;
}
.text-article {
  display: flex;
  flex-direction: column;

  text-align: center;
  min-height: 40px;
  justify-content: space-between;
}
.article img {
  display: flex;
  object-fit: none;
}




.section-social {
  background-image: linear-gradient(hsla(0, 83%, 73%, 0.9), hsla(47, 95%, 76%, 0.9));
height: 470px;}









.line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}
footer {
  display: flex;
justify-content: space-between;
min-height: 60px;
align-items: center;
}

.text-footer{
  display: flex;

}
.input-text {
  display: flex;
  border: 1px solid #e7e7e7;
  width: 230px;
  height: 40px;
  align-items: center;
  padding-left: 12px;
  /* justify-content: ; */
}
.section-subscribe {
  display: flex;
width: 380px;
height: 40px;
}