*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after { 
    content: "";
    display: table;
    clear: both;
  } 
.wraper {
  width: 1100px;
  margin: auto;
}
.navigation {
 text-transform: uppercase;
}
h1 a {
 text-decoration: none; 
 font-family: 'Roboto', sans-serif;
 font-size: 30px;
 font-weight: 300;
 float: left;
 color: #555252;
 margin: 28px 0 28px 0;
}
h1 a::first-letter {
 font-weight: 900;
 color: #1abc9c;
}

ul {
 float: right;
 margin-top: 38px;
}
.menu li {
 font-size: 14px;
 font-weight: 900;
 display: inline-block;
 color: #0f0101;
 margin-right: 30px;
}
.menu  li:last-child {
 margin-right: 0px;
}
.menu li:hover a {
 color: #1abc9c;
}
.menu li a  {
 text-decoration: none; 
 font-family: 'Open Sans', sans-serif;
 color: #0f0101;
}






.slider-ctrl {
    position: absolute;
    border: none;
    display: inline-block;
    background-color: rgb(26, 188, 156);
    width: 104px;
    height: 104px;
    opacity: 65%;
    font-size: 100px;
    color: white;
    z-index: 100;
  }
  .slider-ctrl:hover {
    opacity: 100%;
  }
  .slider-ctrl-prev {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .slider-ctrl-next {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }



.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 600px;
  background-color: rgba(0,0,0,0.5); 
  margin-bottom: 96px;
}
.slider-text {
    position: absolute;
    width: 770px;
    z-index: 110;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.slider-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 60px;
}
.slider-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 24px;
}
.slider-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}




.shop-wraper {
    text-align: center;
    text-transform: uppercase;

   }
   h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: #555252;

}




h3::after {
    content: '';
    width: 164px;
    height: 7px;
    margin: 0 auto;
    background: #1abc9c;
    display: block;
    margin-top: 19px;
    margin-bottom: 80px;
}
.shop-assortment > article {
    vertical-align: top;    
}
.shop-assortment {
    text-align: right;
}
article {
    display: inline-block;
}
.shop-card {
    margin-right: 28px;
}
.shop-card:last-child {
    margin-right: -4px;
    margin-bottom: 94px;
}
.shop-card:hover .card-title {
    background-color: #1abc9c;
}
.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    background: #323232;
}






img {
    display:block;
}
.name {
    float: left;
    padding: 8px;
    color: white;

}
.price {
    background-color: rgba(255, 255, 255, 44%);
    float: right;
    padding: 8px;
    color: white;

}


.bg-slider {
    position: absolute;
    top: 1029px;
    width: 100%;
    height: 676px;
    background-color: rgb(233, 240, 253);
    opacity: 50%;
    z-index: -5; 
    left: 50%;
    transform: translate(-50%,-50%);  
  }