*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /* ШРИФТЫ И НАЧЕРТАНИЯ */
    .section-up, .section-down {
        font-family: 'Montserrat', sans-serif;
    }
    .description-up, .description-down {
        font-family: 'Roboto', sans-serif;
    }
    h1 a{
        text-decoration: none;
        color: white;
        font-size: 20px;  
    }
    .button-login, .button-signup {
        color: white;
        font-size: 14px;  
    }
    h2 {
        color: white;
        font-size: 30px;  
        text-transform: uppercase; 
    }
    h3 {
        color: #333333;
        font-size: 22px;   
    }
    h4 {
        color: #333333;
        font-size: 14px;   
    }
    .description-up {
        color: white;
        font-size: 18px;  
    }
    .a-up {
        color: white;
        font-size: 14px;  
    }
    .a-down {
        color: #ff4e50;
        font-size: 14px;  
    }
    a {  
        text-decoration: none;
    }
    li {
        list-style: none;
      }
    .description-down {
        color: #666666;
        font-size: 14px;  
    }



body {
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}


/* ШАПКАААА */
.section-up {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    background: url(../img/head-mob.jpg) no-repeat;
    /* width: 100%; */
    background-size: cover;
}
.button-head {
    display: flex;
    justify-content: center;  
}
.button-head {
    display: flex;
    height: 80px;
    align-items: center;
}
.button-login {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(26, 25, 21, 0);  
}
.button-signup {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(26, 25, 21, 0);  
}
.logo {
    display: flex;
    height: 110px;
    align-items: flex-end; /* вертикаль */
    justify-content: center;  /* горизонталь */
}
.tagline {
    display: flex;
    height: 100px;
    align-items: flex-end; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
}
.description-up {
    display: flex;
    height: 70px;
    align-items: center; /* вертикаль */
    text-align: center;
    /* width: 70%; */
    width: 230px;
    margin: auto;
}
.a-conteiner-up {
    display: flex;
    height: 180px;
    align-items: flex-start; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;

}
.a-up {
    display: flex;
    align-items: center; /* вертикаль */
    justify-content: center;  /* горизонталь */

    background-color: rgb(255, 78, 80);
    height: 40px;
    border-radius: 20px;
    width: 90%;
}
.tagline-down {
    display: flex;
    height: 115px;
    align-items: flex-end; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
}




















/* ПИКТОГРАМКИ */
.in {
    /* background-color: #925556; */
    background: url(../img/Shape128.svg) no-repeat;
    width: 10px;
    height: 10px;
}
.out {
    /* background-color: #ff4e50; */
    background: url(../img/Layer_6.png) no-repeat;

    width: 122px;
    height: 122px;
    border-radius: 100%;

}
.picto1{
    width: 32px;
    height: 32px;
    background-color: #ff4e50;
    border-radius: 100%;
    border: 4px solid white;
    /* background: url(../img/Shape128.svg) no-repeat; */
    /* background-position: 50% 50%;   */
    /* margin: auto; */
}




/* body {
    background-color: teal;
}
@media screen and (min-width: 800px) {
    body {
        background-color: rgb(107, 0, 128);
    }   
} */