*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* ШРИФТЫ И НАЧЕРТАНИЯ */
    .section-up, .section-down {
        font-family: 'Montserrat', sans-serif;
    }
    .description-up, .description-down {
        font-family: 'Roboto', sans-serif;
    }
    h1 a{
        text-decoration: none;
        color: white;
        font-size: 20px;  
    }
    .button-login, .button-signup {
        color: white;
        font-size: 14px;  
    }
    h2 {
        color: white;
        font-size: 30px;  
        text-transform: uppercase; 
    }
    h3 {
        color: #333333;
        font-size: 22px;   
    }
    h4 {
        color: #333333;
        font-size: 14px;   
    }
    .description-up {
        color: white;
        font-size: 18px;  
    }
    .a-up {
        color: white;
        font-size: 14px;  
    }
    .a-down {
        color: #ff4e50;
        font-size: 14px;  
    }
    a {  
        text-decoration: none;
    }
    li {
        list-style: none;
      }
    .description-down {
        color: #666666;
        font-size: 14px;  
    }






/* ШАПКАААА */
.section-up {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    background: url(../img/head-mob.jpg) no-repeat;
    /* width: 100%; */
    background-size: cover;
}
.button-head {
    display: flex;
    justify-content: center;  
    height: 80px;
    align-items: center;
}
.button-login {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(26, 25, 21, 0);  
}
.button-signup {
    height: 36px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 18px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    background-color: rgba(26, 25, 21, 0);  
}
.logo {
    display: flex;
    height: 110px;
    align-items: flex-end; /* вертикаль */
    justify-content: center;  /* горизонталь */
}
.tagline {
    display: flex;
    height: 100px;
    align-items: flex-end; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
}
.description-up {
    display: flex;
    height: 70px;
    align-items: center; /* вертикаль */
    text-align: center;
    width: 230px;
    margin: auto;
}
.a-conteiner-up {
    display: flex;
    height: 180px;
    align-items: flex-start; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
}
.a-up {
    display: flex;
    align-items: center; /* вертикаль */
    justify-content: center;  /* горизонталь */

    background-color: rgb(255, 78, 80);
    height: 40px;
    border-radius: 20px;
    width: 280px;
}





/* ФУТЕР */
.tagline-down {
    display: flex;
    height: 120px;
    align-items: flex-end; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
}
.face {
    display: flex;
    height: 160px;
    align-items: center; /* вертикаль */
    justify-content: center;  /* горизонталь */
}
h4 {
    display: flex;
    height: 33px;
    align-items: flex-start; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
}
.description-down {
    display: flex;
    text-align: center;
    width: 230px;
    margin: auto;
}
.a-conteiner-down {
    display: flex;
    height: 100px;
    align-items: center; /* вертикаль */
    justify-content: center;  /* горизонталь */
    text-align: center;
    margin-bottom: 30px;
}
.a-down {
    display: flex;
    align-items: center; /* вертикаль */
    justify-content: center;  /* горизонталь */

    background-color: rgba(255, 78, 81, 0);
    height: 40px;
    border-radius: 20px;
    width: 280px;

    border-style: solid;
    border-width: 2px;
    border-color: #ff4e50;
}














/* ПИКТОГРАМКИ */
.inner-box1 {
    background: url(../img/Shape128.svg) no-repeat;
    width: 36px;
    height: 36px;
    background-color: #ff4e50;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 100%;
    background-position: 50% 50%; /* позиция пикто в кружочке */
    margin-left: auto;
    transform: scale(1);  
}
.outer-box1 {
    background: url(../img/Layer_6.png) no-repeat;
    width: 122px;
    height: 122px;
    border-radius: 100%;
    display: flex;
    align-items: flex-end; /* вертикаль содержимого */
}
.card1:hover .inner-box1, .card2:hover .inner-box2, .card3:hover .inner-box3, .card4:hover .inner-box4 {
    transform: scale(1.05);
}

.inner-box2 {
    background: url(../img/Shape155.svg) no-repeat;
    width: 36px;
    height: 36px;
    background-color: #ffa507;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 100%;
    background-position: 50% 50%; /* позиция пикто в кружочке */
    margin-left: auto;
    transform: scale(1);  
}
.outer-box2 {
    background: url(../img/Layer_8.png) no-repeat;
    width: 122px;
    height: 122px;
    border-radius: 100%;
    display: flex;
    align-items: flex-end; /* вертикаль содержимого */
}

.inner-box3 {
    background: url(../img/Shape153.svg) no-repeat;

    width: 36px;
    height: 36px;
    background-color: #1cd7ad;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 100%;
    background-position: 50% 50%; /* позиция пикто в кружочке */
    margin-left: auto;
    transform: scale(1);  
}
.outer-box3 {
    background: url(../img/Layer_7.png) no-repeat;
    width: 122px;
    height: 122px;
    border-radius: 100%;
    display: flex;
    align-items: flex-end; /* вертикаль содержимого */
}

.inner-box4 {
    background: url(../img/Shape170.svg) no-repeat;
    width: 36px;
    height: 36px;
    background-color: #4e73db;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(255, 255, 255);
    border-radius: 100%;
    background-position: 50% 50%; /* позиция пикто в кружочке */
    margin-left: auto;
    transform: scale(1);  
}
.outer-box4 {
    background: url(../img/Layer_9.jpg) no-repeat;
    width: 122px;
    height: 122px;
    border-radius: 100%;
    display: flex;
    align-items: flex-end; /* вертикаль содержимого */
}

















@media screen and (min-width: 768px) {
    h2 {
        font-size: 52px;  
    }
    .description-up {
        font-size: 23px;  
    }
    .header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        width: 660px;
        margin: auto;
    }
    .button-head {
        height: 110px;
    }
    .logo {
        height: 110px;
        align-items: center; /* вертикаль */
    }
    .tagline {
        height: 215px;
        text-align: center;
        width: 520px;
        margin: auto;
    }
    .description-up {
        height: 100px;
        width: 800px;
        justify-content: center;
    }
    .a-conteiner-up {
        height: 280px;
    }
    .section-up {
        background: url(../img/head-tab.jpg) no-repeat;
        background-size: cover;
    }
    

    .team {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        margin: auto;
        justify-content: space-between;
    }
    .tagline-down {
        height: 100px;
    }
    .face {
        height: 160px;
        align-items: flex-end; /* вертикаль */
    }
    h4 {
        align-items: center; /* вертикаль */
        height: 50px;
    }
    .description-down {
        display: flex;
        align-items: center; /* вертикаль */
        text-align: center;
        width: 230px;
        margin: auto;
    }
} 
@media screen and (min-width: 1440px) {
    .section-up {
        background: url(../img/head-des.jpg) no-repeat;
        background-size: cover;
    }
    .header {
        width: 940px;
    }
    .team {
        width: 940px;
    }
}
