*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #626262;
    font-family: 'Playfair Display', serif;
}

nav {
    text-align: center;
}

ul {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    margin-top: 70px;
  }

li {
    display: inline-block;
}

a  {
    text-decoration: none; 
    display: block;
    padding: 0px 60px;
    color: #626262;
}

a:hover {
    color: #03a9f4;
}











.container {
    width: 960px;
    margin: auto;
}

article {
    display: inline-block;
    width: 470px;
}
 
h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    /* padding-top: 30px; */
    padding-block-end: 18px;
    color: #b4ad9e;
}

h2 {
    font-size: 30px;
    padding-block-end: 28px;
}

p {
    font-size: 14px; 
    line-height: 24px;
    width: 420px;
    margin-bottom: 30px;   
}

img {
    size: 420px 280px;
    padding-top: 100px;
    padding-block-end: 28px;
}








.menu-footer {
    text-align: center;
    padding-top: 20px;
    padding-block-end: 70px; 
}

.footer-text {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    text-transform: none;
    width: 164px;
    height: 60px;
    font-size: 20px;
    border: 1px solid #626262;
    color: #626262;
    background-color: white;
}

.footer-text:hover {
    color: #03a9f4;
}